{% extends 'base.html' %}


{% block content %}

<nav class="navbar navbar-light ">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar paciente" aria-label="Search" style="border: 1px solid #000;">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  
<h1>Home</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum accusantium ipsam cupiditate excepturi, magni reiciendis. Eius tempora officia ipsa reprehenderit illo corrupti nisi soluta cumque. Iusto aliquid optio tempore natus recusandae dolorem, explicabo perspiciatis saepe voluptates similique expedita unde illo sequi minus magni est quia, nihil, aut architecto repellat repudiandae! Harum reiciendis aperiam dolorum! Quia cupiditate facilis consequatur. Laudantium maxime, reprehenderit eos perferendis omnis tenetur iste eius optio at, voluptatem voluptates necessitatibus dicta asperiores, quaerat facilis veritatis sequi suscipit? Ducimus hic qui fugiat quas id officia, enim in vero ad, blanditiis inventore vel deleniti aperiam magnam. Fuga itaque accusantium soluta.</p>

{% endblock %}